
@media screen and (max-width:768px){
    main{width: 100%;}
    .page_title{width: 100%;height: 10vw;}
    .category{width: 100%;height: 12vw;}
    .menu{width: 100%;height: 12vw;}
    .recommend li{height: 39.9vw;}
}
@media screen and (min-width:769px){
    main{width: 768px;}
    .page_title{width: 768px;height: 76.8px;margin: auto}
    .category{width: 768px;height: 92.16px;margin: auto}
    .menu{width: 768px;height: 92.16px;margin: auto}
    .recommend li{height: 306.432px;}
}

.page_title_wrap, .category_wrap{
    width: 100%;
    background: #212B3B;
}

.menu_wrap{
    width: 100%;
    background: #726eff;
}

body{
    background: #eee;
}
.page_title{
    color: white;
    display:flex;
    justify-content:space-around;
    padding:1% 0}
.logo{
    float: left;
    width: 30%;
    height: 100%;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    }
.logo a{
    display:block;
    height: 100%;
    line-height: 300%;
    padding-left: 40%;
    font-size: 1.3rem;
    color: white;
}
.search{
    float: left;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    background: #37465B;
    border-radius: 10px;
    padding: 0 1%;
    line-height: 200%;
}
.search_icon{
    float: right;
    width: 5%;
    height: 100%;
    background: url('../images/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-indent: -9999px;
}

.search input{
    float: left;
    width: 88%;
    margin-top: 2%;
    color: white;
    font-size: 1.3rem;
}

.favorites{
    float: left;
    display:block;
    width: 5%;
    height: 100%;
    background-image:url('../images/heart.png'); background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-indent:-9999px;
}

.category ul{
    height: 100%;
    background: #212B3B;
    display:flex;
    justify-content:space-around;
    font-size: 1.2rem;
    align-items: center;
}
.category li{
    float: left;
}
.category a{
    color:white
}

.menu ul{
    height: 100%;
    background: #726eff;
    font-size: 1.2rem;
    display:flex;
    justify-content:space-around;
    align-items: center;
}

.menu li{
    float: left;
}

.menu button{
    color: white;
    font-size: 1.2rem;
}

.recommend{
    height: fit-content;
}

.recommend ul{
    width: 100%;
    height: fit-content;
    display: block;
    overflow: auto;
}
/*
.recommend div{
    height: 300px;
    margin-bottom: 40px;
    display:flex;
    justify-content:space-around;
}
*/

.recommend li{
    width: 26.6%;
    margin: 3.36%;
    float: left;
    
}

.recommend a{
    display: block;
    width: 100%;
    height: 100%;
    background: #2E2E2E;
    border-radius: 15px;
    text-indent: -9999px;
}