
@media screen and (max-width:768px){
    main{width: 100%;}
    .page_title{width: 100%;height: 10vw;}
    .category{width: 100%;height: 12vw;}
    .menu{width: 100%;height: 12vw;}
    .novels li{height: 39.9vw;}
}
@media screen and (min-width:769px){
    main{width: 768px;}
    .page_title{width: 768px;height: 76.8px;margin: auto}
    .category{width: 768px;height: 92.16px;margin: auto}
    .menu{width: 768px;height: 92.16px;margin: auto}
    .novels li{height: 306.432px;}
}

.page_title_wrap, .category_wrap{
    width: 100%;
    background: #212B3B;
}

.menu_wrap{
    width: 100%;
    background: #726eff;
}

body{
    background: #eee;
}
.page_title{
    color: white;
    display:flex;
    justify-content:space-around;
    padding:1% 0}


.prev{
    float: left;
    color: white;
    font-size: 2rem;
}
.search{
    float: right;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    background: #37465B;
    border-radius: 10px;
    padding: 0 1%;
    line-height: 200%;
}
.search_icon{
    float: right;
    width: 5%;
    height: 100%;
    background: url('../images/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-indent: -9999px;
}

.search input{
    float: left;
    width: 88%;
    margin-top: 2%;
    color: white;
    font-size: 1.3rem;
}

.novels{
    height: fit-content;
}

.novels ul{
    width: 100%;
    height: fit-content;
    display: block;
    overflow: auto;
}
/*
.recommend div{
    height: 300px;
    margin-bottom: 40px;
    display:flex;
    justify-content:space-around;
}
*/

.novels li{
    width: 26.6%;
    margin: 3.36%;
    float: left;
    
}

.novels a{
    display: block;
    width: 100%;
    height: 100%;
    background: #2E2E2E;
    border-radius: 15px;
    text-indent: -9999px;
}